---
---

.cursTbl
  thead th
    text-align: center
    padding-left: 5px
    padding-right: 5px

  td
    text-align: center
    padding-left:  10px
    padding-right: 10px

  th
    text-align: left
    font-weight: normal

.cursCont
  display: flex
  align-items: space-between
  gap: 10px
  flex-wrap: wrap
  padding: 5px

.cursCtrl
  margin: 0px
  display: flex
  align-items: center
  flex-grow: 2
  gap: 3px

  input
    flex-grow: 2
