---
---

.cursTbl
  thead th
    text-align: center

  td
    text-align: center

  th
    text-align: left
    font-weight: normal

.cursCont
  display: flex
  justify-content: stretch
  gap: 20px

.cursCtrl
  display: flex
  align-items: center
  flex-grow: 2
  gap: 3px
  input
    flex-grow: 2
