---
---

html
  margin: 0px
  padding: 0px

body
  margin: 0px
  padding: 0px

main
  box-sizing: border-box
  display: flex
  justify-content: space-between
  flex-direction: row-reverse
  flex-wrap: none
  margin: 0px

  .waveformsContainer
    height: calc(100vh - 70px)
    padding: 10px
    width: 100%
    max-width: 8in
    display: flex
    flex-shrink: 5
    flex-direction: column

    svg
      height: 100%
      width: 100%

@media(width < 900px)
  #fpPanel
    position: fixed
    top: 50px
    right: 0px

  #fpPanel.hidden
    display: none

@media(width < 500px)
  main
    flex-direction: column-reverse  

    .waveformsContainer
      height: calc(100vh - 150px)
