---
---

figure
  width: 100%
  margin-left: 0px
  margin-right: 0px

table
  margin-left: auto
  margin-right: auto
 
ul, ol, dl
  line-height: 1.8em

dd
  display: list-item
  list-style-type: disc

a
  text-decoration: none
  color: inherit

h1
  font-size: 1.6em

h2
  font-size: 1.4em
  margin-top: 7px

h3
  font-size: 1.2em

.date
  margin-bottom: 10px
  color: hsl(0, 0%, 40%)

article
  margin-bottom: 30px
  margin-top: 40px
  border-bottom: 1px solid silver
  padding-bottom: 20px
