---
---
$controlsHeight: 47px
@import table
@import ventyaml
@import controls
@import numerotation
@import mix-blackLines
@import mix-grid
@import fp-scratch


body
  padding: 0px
  margin: 0px

#content
  max-width: 575px
  margin-left: auto
  margin-right: auto
  margin-top: 50px
  padding: 1px 6px 6px 6px
  background-color: white

.gs
  @include blackLines
  @include grid
  width: 100%
  height: 250px

figure
  width: 100%
  margin-left: auto
  margin-right: auto

table
  margin-left: auto
  margin-right: auto
 
ul, ol, dl
  line-height: 1.8em

dd
  display: list-item
  list-style-type: disc

a
  text-decoration: none
  color: inherit

article
  margin-bottom: 30px

h1
  font-size: 1.6em

h2
  font-size: 1.4em
  margin-top: 7px

h3
  font-size: 1.2em

.date
  margin-bottom: 10px
  color: hsl(0, 0%, 40%)

#content.numbered
  @include numerotation

article
  margin-top: 40px
  border-bottom: 1px solid silver
  padding-bottom: 20px