---
---
.numDisplayContainer
  width: max-content
  display: flex
  flex-direction: column
  gap: 8px
  flex-shrink: 0
  height: max-content

  >div
    border: 1px solid gray
    box-shadow: 3px 3px 5px 0px gainsboro
    background: hsla(0, 0%, 100%, 0.9)
    padding: 8px
    border-radius: 8px
    height: 3.5em

    .value
      font-size: 2em
      text-align: right

@media(max-width: 500px)
  .numDisplayContainer
    flex-direction: row
    flex-shrink: 0
    padding: 2px
    height: max-content
    font-size: 0.8em

    >div
      height: auto
      padding: 4px 8px

      div
        display: inline

      div:nth-child(1)::after
        content: ' :'

      .value
        font-size: 1.3em
        text-align: right
