<nav>
	<div id="leftControls">
		<a onclick="toggleMenu()" title="Menu">
		{% include icone.html icone='Menu' %}
		</a>
	</div>

	<div>
		{% include icone.html icone='simvent.js' %} simvent.js
	</div>

	<div id="rightControls"></div>
</nav>

<menu>
	{% for page in site.html_pages %} {% if page.hiden != true %}
	<a href='{{ page.url | prepend: site.baseurl}}'>
		{% include icone.html icone=page.icon %}
		{{ page.title }}
	</a>
	{% endif %} {% endfor %}
</menu>

<script>
    const menu = document.querySelector('menu');
    function hideMenu(){ menu.classList.remove('visible'); }
	function toggleMenu(){ menu.classList.toggle('visible'); }

    menu.onmouseleave = hideMenu;
    document.body.onscroll = hideMenu;
</script>
