<div id="controls">
		  <div id="leftControls">
					 <a onclick="document.querySelector('#menu').classList.toggle('visible')" title="Menu">
								<img src="{{ "/Icones/menu.svg" | prepend: site.baseurl}}" alt="Menu" />
					 </a>
		  </div>

		  <div>
					 <img src="{{ "/Icones/Vdecel.svg" | prepend: site.baseurl}}"/>
					 simvent.js
		  </div>

		  <div id="fpControls"></div>
</div>

<div id="menu">
	<a href="{{ "/simulateur.html" | prepend: site.baseurl}}">
			  <img src="{{ "/Icones/souflet.svg" | prepend: site.baseurl}}"/>
			  Simulateur</a>
	<a href="{{ "/documentation.html" | prepend: site.baseurl}}">
			  <img src="{{ "/Icones/livre.svg" | prepend: site.baseurl}}"/>
			  Documentation</a>
	<a href="{{ "/index.html" | prepend: site.baseurl}}">
			  <img src="{{ "/Icones/carnet.svg" | prepend: site.baseurl}}"/>
			  Carnet
	</a>
</div>
<script>
document.onscroll = function(){
		  document.querySelector('#menu').classList.remove('visible');
};
</script>
