<nav>
	<div id="leftControls">
		<a onclick="document.querySelector('menu').classList.toggle('visible')" title="Menu">
		<svg viewBox='0 0 180 180'>
				 <use href="/Icones/Inhalothérapie.svg#Menu"></use>
		</svg>
		</a>
	</div>

	<div>
		<svg viewBox='0 0 180 180'>
				 <use href="/Icones/Inhalothérapie.svg#simvent.js"></use>
		</svg>
		simvent.js
	</div>

	<div id="fpControls"></div>
</nav>

<menu>
	{% for page in site.html_pages %} {% if page.hiden != true %}
	<a href='{{ page.url | prepend: site.baseurl}}'>

		<svg viewBox='0 0 180 180'>
			<use href="/Icones/Inhalothérapie.svg#{{ page.icon }}"></use>
		</svg>
		{{ page.title }}
	</a>
	{% endif %} {% endfor %}
</menu>

<script>
	document.onscroll = function(){
		document.querySelector('menu').classList.remove('visible');
	};
</script>
