<!DOCTYPE html>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, user-scalable=no"/>

<script src="{{ "/dist/simvent.min.js" | prepend: site.baseurl}}"></script>
<script src="{{ "/dist/graphsimple.min.js" | prepend: site.baseurl}}"></script>
<script src="{{ "/lib/yaml.min.js" | prepend: site.baseurl}}"></script>
<script src="{{ "/src/ventyaml.js" | prepend: site.baseurl}}"></script>
<!--script src="{{ "/dist/ventyaml.min.js" | prepend: site.baseurl}}"></script-->

<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl}}" />

<script>
gs.defaults["margeG"]=75;
gs.defaults["margeD"]=2;
gs.defaults["margeH"]=10;
gs.defaults["margeB"]=55;
gs.defaults.padH = .1;
</script>

<div id="controls">
	<a onclick="document.querySelector('#menu').classList.toggle('visible')">
		<img src="{{ "/Icones/menu.svg" | prepend: site.baseurl}}"/>
	</a>
	<div id="fpControls"></div>
</div>

<div id="menu">
	<a href="{{ "/index.html" | prepend: site.baseurl}}">Simulateur</a>
	<a href="{{ "/documentation.html" | prepend: site.baseurl}}">Documentation</a>
	<a href="{{ "/carnet.html" | prepend: site.baseurl}}">Carnet</a>
</div>

<div id="content">
		  {% if page.title != "" %}
		  <h1>{{ page.title }}</h1>
		  <p class="date">{{ page.date | date: "%Y-%m-%d"}}</p>
		  {% endif %}
		  {{ content }}
</div>
